.bg-img 
{
    width:100vw;
    height: 525px;
    
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    
}
.rk 
{
    height:500px;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color:#ff5033;;;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
   /* padding: 48px 0;*/
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    /*background-image: linear-gradient(45deg, #7c9885, #b5b682);*/
    background-color: rgb(255, 255, 255);
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;

    }
    .article-body p {
      display: none;
    }
    .a 
    {
      position: relative;
    left: -30px;

    }
    .articles 
    {
      position: relative;
      left:30px;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .article-body:hover {
         color:#ff5033;;
    }

    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  .read-more:hover
  {
    color:#ff5033;;
  }
  .hf 
  {
    position: relative;
    bottom:50px;
  }
  .a 
  {
    text-align: center;
    line-height: 3.3;
    font-family: 'cursive';
    font-style: italic;
    color:black;
    padding-bottom:100px;
    padding-left: 100px;
  }
  .c
{
    color:rgb(35, 35, 35);
    font-size: 18px;
    text-align: center!important;
    
    position:relative;
    width:600px;
    right:80px;
    
}
.my 
{
  position: relative;
  
  left:50px;
  
}
 h1 
  {
    color: rgb(35, 35, 35);
    min-height: auto;
    font-family: cursive;
    line-height: 3.2;
    border-color: rgb(255, 255, 255);
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
    letter-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position:relative;
    top:100px;
    right:70px;
    
    align-items: center;
    
}
.e 
{
    
    border-radius: 15px 15px 15px 15px;
    height:600px;
    width:600px;
    position:relative;
      top:100px;
    left:250px;
}
.f 
{
  
}
.g{

   height:100px;
   position: relative;
   left:20px;

}
.h 
{
  position: relative;
  left:20px;
  height:100px;
    
}

.i
{
   
  position: relative;
  left:20px;
  height:100px;
    
}
.n 
{
  position: relative;
  left:20px;
  height:100px;
    
}
.k 
{
    color: rgb(36, 36, 36);
    min-height: auto;
    font-family: Muli;
    line-height: 3.5;
    border-color: rgb(51, 51, 51);
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
    letter-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    font-size:18px;
    position: relative;
  left:20px;
    

}

.ak
{
  position: relative;
  bottom: 100px;
  right:1000px;
}
.az
{
    position: relative;
    top:200px;
    padding-left: 130px;
    text-align: center;
    font-style: oblique;
}
.rah 
{
  position: relative;
  top:150px;
}
.aq 
{
    color: rgb(28, 28, 28);
    min-height: auto;
    font-family: Muli;
    font-size: 18px;
    position: relative;
  left:15px;
   
} 

input 
{
  color: rgb(51, 51, 51);
    height: 60px;
    border-color: rgb(209, 209, 209);
    background-color: rgb(255, 255, 255);
    
}
.ads
{
  position: relative;
  top:100px;
}
.aj 
{
     position: relative;
     right:0px;
     top:100px;
    text-align: center;
    font-style: oblique;
}
.wes
{
  color:#fff;
  font:16px;
  background-color: #FF5033;
  position: relative;
  
  text-align: center;
  width:200px;
  border-radius:50px;
  border-color: #ff5033;
   height: 50px;
}
.qy
{
  border-radius: 15px;
  height:300px;
  
  position: relative;
  top: 50px;
  right: 115px;
  
}
.lk 
{
  position: relative;
  left:230px;
  
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

.slider {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color:  #ff5033;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color:  #ff5033;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color:  #ff5033;
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 400px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color:  #ff5033;;
}

.slide-image img {
  max-width: 100%;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}
.kg 
{
  height:50px;
  position: relative;
  right:70px;
}
.yow 
{
  position: relative;
    bottom: 50px;
    left: 70px;
    font-size:23px;
}
.azs 
{
  padding-top:300px;
}
.ac 
{
  position: relative;
  top:30%;
}
.dc 
{
  position: relative;
  top:50px;
}
.kya 
{
  position: relative;
  right:40px;

}
.maa 
{
  position: relative;
  top:30px;
}
.yov 
{
  position: relative;
  bottom: 60px;
  left: 130px;
  font-size:20px;
}
.kg1 
{
  height:50px;
  position: relative;
  right:70px;
  bottom:40px;
}
.yow1 
{
  position: relative;
   bottom:83px;
    left: 70px;
    font-size:23px;
}
.yov1 
{
  position: relative;
  bottom: 87px;
  left: 80px;
  font-size:20px;
}
.kg2 
{
  height:50px;
  position: relative;
  right:70px;
  bottom:70px;
}
.yow2
{
  position: relative;
   bottom:120px;
    left: 30px;
    font-size:23px;
}
.yov2
{
  position: relative;
  bottom: 125px;
  left: 50px;
  font-size:20px;
}
.kg3 
{
  height:50px;
  position: relative;
  right:70px;
  bottom:100px;
}
.yow3 
{
  position: relative;
   bottom:150px;
    left: 40px;
    font-size:23px;
}
.yov3 
{
  position: relative;
  bottom: 160px;
  left: 125px;
  font-size:20px;
}
/*.kg2 
{
  height:50px;
  position: relative;
  right:70px;
  bottom:70px;
}
.kg3 
{
  height:50px;
  position: relative;
  right:70px;
  bottom:70px;
}*/
.rr 
{
  color: rgb(255, 255, 255);
}
.ao 
{
  position: absolute;
 right:100px;
  font-size: 40px;
  font-family: 'cursive';
  
}
.ap
{
  position: relative;
  left:40px;
  top:300px;
  font-size: 50px;
  font-family: 'cursive';
}
.kes 
{
  color:#fff;
  font:16px;
  background-color: #FF5033;
  position: relative;
  top:300px;
  left:110px;
  text-align: center;
  width:150px;
  border-radius:50px;
  border-color: #ff5033;
   height: 50px;
}
.kes:hover 
{
  background-color: green;
  border-color: green;
}
.a:hover 
{
  color:#FF5033;
}
.my:hover 
{
  color:#ff5033;
}
.c:hover 
{
  color:#28666e;
}
.az:hover 
{
  color:#ff5033
}
.su1 
{
    position: relative;
     right:25px;
}
.su2 
{
  position: relative;
  right:20px;
}
.su3 
{
  position: relative;
  right:10px;
}
.su4 
{
  position: relative;
  left:10px;
}
@media screen and (max-width:1000px)  {

  .cohna 
  {
    width:440px;
  }
 
  .qy 
  {
    position: relative;
    left:50px;
    bottom:400px;
    top:100px;
    height:400px;
    width:300px;
  }
  .az 
  {
    position: relative;
    left:-40px;
  }
  .slider
  {
   
    width:100px;
  }
  .e 
  {
    width: 350px;
    height: 300px;
    position: relative;
    top: -10px;
    
    left: -20px;
  }
  .my 
  {
    position: relative;
    left:140px;
    top:250px;
  }
  .c{
    position: relative;
    left: 30px;
    width: 350px;
    top:200px;
  }
  .slider 
  {
    width: 430px;
    height: 300px;
    position: relative;
    top:250px;
   
  right:250px;
  }
  .jh 
  {
    position: relative;
    top:50px;
    left:30px;
  }
  .dc 
  {
    position: relative;
    top:100px;
    left:30px;
  }
  .aj 
  {
    position: relative;
    left:30px;
    top:300px;
  }
  .slide-image 
  {
    height: 200px;
    width: 200px;
  }
  .slide-link 
  {
    position: relative;
    right: 30px
  }
  .ha 
  {
    width:400px;
    position: relative;
    left:45px;
    bottom:60px;
  }
  .maa 
  {
    position: relative;
    right:100px;
    top:500px;
    
  }
  .yov 
  {
    position: relative;
    left:80px;
  }
  .yow2 
  {
    position: relative;
    left:60px;
  }
  .yov2 
  {
    position: relative;
    left:80px;
  }
  .yow3 
  {
    position: relative;
    left:60px;
  }
  .yov3 
  {
    position: relative;
    left:80px;
  }
  .lk 
  {
    margin-left:1px;
  }
  .slide-text 
  {
    position: relative;
    right: 15px;
  }
  .f 
  {
    margin-right: 200px;
  }
  .bg-img
  {
    width:443px;
  }
  .su1 
{
    position: relative;
     left:10px;
}
.su2 
{
  position: relative;
  left:10px;
}
}

.wra{
  /*background: #ececec;*/
  padding: 0 20px 0 20px;
}
.mai{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  top: 100px;
}
.ng{
  width: 900px;
  height: 550px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.side-images{
  background-image: url("https://image3.jdomni.in/banner/12082021/6F/9C/AC/BFA71237BD5515D4693C674052_1628765413469.jpg?output-format=webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px 0 0 10px;
}
.rko 
{
  font-size: 25px;
}
.k12{
  width: 35px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text p{
  color: #fff;
  font-size: 18px;
}
i{
  font-weight: 400;
  font-size: 15px;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.input-box{
  width: 330px;
  box-sizing: border-box;
}
.input-box header{
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.input-field{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}
.input{
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}
.input-box .input-field label{
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}
.input-field .input:focus ~ label{
  top: -10px;
  font-size: 13px;
}
.input-field .input:valid ~ label{
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
  border-bottom: 1px solid #FF5033;
}
.submit{
  border: none;
  outline: none;
  height: 45px;
  background: #ececec;
  border-radius: 5px;
  transition: .4s;
}
.submit:hover{
  background: #ff5033;
  color: #fff;
}
.signin{
  text-align: center;
  font-size: small;
  margin-top: 25px;
}
span a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: .5s;
}
span a:hover{
  text-decoration: underline;
  color: #000;
}

@media only screen and (max-width: 768px){
  .side-images{
      border-radius: 10px 10px 0 0;
      position: relative;
      height: 235px;
  }
  
  .text{
      position: absolute;
      top: 70%;
      text-align: center;
  }
  .text p,i{
      font-size: 17px;
  }
  .ng{
      max-width: 420px;
      width: 100%;
      height:600px;
  }
  .mai 
  {
    position: relative;
    top: 200px;
    left: 30px;
  
  }

 
 
  /*.card1 
  {
    position: relative;
    bottom: 100px;
    width: 340px;
    left: 40px;
  } 
  .card2 
  {
    position: relative;
    bottom: 100px;
    width: 340px;
    left: 40px;
  } 
  .card3 
  {
    position: relative;
    bottom: 100px;
    width: 340px;
    left: 40px;
  } */
}
/** {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}*/

/*body {
  background: #000;
  overflow: hidden;

}*/ 


.conha {
  width: 95%;
  max-width: 1260px;
  margin: auto;
}
h2.heading {
    padding: 50px 0;
    text-align: center;
    color: black;
    font-family: cursive;
    font-weight: initial;
}
.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.card {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    position: relative;
    filter: blur(3px);
    transition: background 0.8s linear;
}
.card0 {
    background: url('https://www.dipakstudios.com/gallery/1535304191SAND5712.jpg') center center no-repeat;
    background-size: 400px;
}
.card1 {
    background: url('https://i.pinimg.com/originals/11/27/38/112738afaa811c81935a04ab727d3421.jpg') center center no-repeat;
    background-size: 400px;
}
.card2 {
    background: url('https://people.com/thmb/q1H6Y5A0UdzAK5kV61AB34NYv24=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(1245x299:1247x301)/Christina-Hall-and-Josh-Hall-Wedding-090422-02-2000-65c5d5ccec9c4f9d8c3868018f2edcaa.jpg') center center no-repeat;
    background-size: 400px;
}
.card3 {
    background: url('https://cdn0.weddingwire.in/article/5674/original/1280/jpg/84765-tips-to-provide-excellent-customer-service-to-couples-danish-bin-arif-1.jpeg') center center no-repeat;
    background-size: 400px;
}
.card:hover {
  background-size: 600px;
  background-position: left center;
  filter: unset; 
}
.overlay {
    opacity: 1;
    height: 100%;
    padding: 20px;
    background: rgba(0 0 0 / .4);
    transition: opacity 0.8s linear;
}
.ful, .lul {
    color: #fff;
}
.content > h2 {
    margin-bottom: 10px;
}

.content {
    height: 90%;
    position: relative;
    right: -300px;
    transition:right 0.8s linear;
}
.icons {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition:opacity 0.8s linear;
}
.icons > a {
  color: #fff;
}
.card:hover .content {
    right: 0;
}
.card:hover .icons {
  opacity: 1;
}
.learn-more-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    text-decoration: unset;
    padding: 5px 10px;
    border: 1px solid;
}
.noqw
{
  background-image: url('https://i.pinimg.com/originals/e1/1c/10/e11c1063fc94f68521ebaa28e9d400bb.jpg');
  height:700px;
  position: relative;
  top:200px;
  background-position: center;
}
@media screen and (max-width:1000px)  {

  .noqw 
  {
    width:440px;
    height:1100px;
  }
  .heading 
  {
    position: relative;
    top:-100px;
  }
  .card0 
  {
    width:220px;
    position: relative;
    bottom:100px ;
    height:335px;
    right:10px;
  }
  .card1 
  {
    width:220px;
    position: relative;
    bottom:100px ;
    right:30px;
    height:335px;
  }
  .card2 
  {
    width:220px;
    position: relative;
    top:300px;
    height:335px;
    right:490px;
  }
  .card3 
  {
    width:220px;
    position: relative;
    top:300px;
    height:335px;
    right:510px;
  }
  .learn-more-btn 
  {
    position: relative;
    top:30px;
  }
}