/*@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");*/



.akj {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
padding-bottom: 50px;
  position: relative;
  top:80px;
  
}
.af 
{
  position: relative;
  left:3px;
  bottom:50px;
  padding-bottom: 70px;
  
}
.ag 
{
  position: relative;
  left:3px;
  bottom:50px;
  padding-bottom: 70px;
  color:white;
}

